﻿@{
    Layout = null;
}

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="~/css/login.css" />

<div class="wrapper fadeInDown">
    <h1 class="h1"> Crear Usuario </h1>
    <div id="formContent">
        <div class="fadeIn first">
            <img src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/user-alt-512.png" width='25%' />
        </div>

        <form action="/Home/CreateUser" method="post">
            <input type="text" id="login" class="fadeIn second" name="usuario" placeholder="usuario">
            <input type="password" id="login" class="fadeIn second" name="clave" placeholder="clave">
            <br /><br /><br /><br />
            <input type="submit" class="fadeIn fourth" value="Crear Ususario">
        </form>
    </div>
</div>