﻿@{
    Layout = null;
}

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

<div class="container">
    <br /><br /><br /><br />
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6 pb-5">

            <form action="/Auth/Registro" method="post">
                <div class="card border-primary rounded-0">
                    <div class="card-header p-0">
                        <div class="bg-info text-white text-center py-2">
                            <h3><i class="fa fa-envelope"></i> Formulario </h3>
                        </div>
                    </div>
                    <div class="card-body p-3">
                        <div class="form-group">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fa fa-user text-info"></i></div>
                                </div>
                                <input type="number" class="form-control" id="nombre" name="Code" placeholder="Codigo Unico" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fa fa-envelope text-info"></i></div>
                                </div>
                                <input type="date" class="form-control" id="nombre" name="Fecha" placeholder="Fecha Registro" min="2000-01-01" max="2020-11-04" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fa fa-envelope text-info"></i></div>
                                </div>
                                <input type="text" class="form-control" id="nombre" name="NameMascota" placeholder="Nombre de la Mascota" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fa fa-envelope text-info"></i></div>
                                </div>
                                <input type="date" class="form-control" id="nombre" name="NaceMascota" placeholder="Fecha Nacimiento de la Mascota" min="2000-01-01" max="2020-11-04" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fa fa-envelope text-info"></i></div>
                                </div>
                                <select id="Sexo" name="Sexo">
                                    <option value=""> --->Elegir Opción<--- </option>
                                    <option value="Hembra"> Hembra </option>
                                    <option value="Macho"> Macho </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fa fa-envelope text-info"></i></div>
                                </div>
                                <select id="Especie" name="Especie">
                                    <option value=""> --->Elegir Opción<--- </option>
                                    <option value="C. lupus"> C. lupus </option>
                                    <option value="Alano Español"> Alano Español </option>
                                    <option value="Alaskan Malamute"> Alaskan Malamute </option>
                                    <option value="American Staffordshire Terrier"> American Staffordshire Terrier </option>
                                    <option value="American Water Spaniel"> American Water Spaniel </option>
                                    <option value="Antiguo Pastor Inglés o Bobtail"> Antiguo Pastor Inglés o Bobtail </option>
                                    <option value="Otros"> Otros </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fa fa-envelope text-info"></i></div>
                                </div>
                                <select id="Raza" name="Raza">
                                    <option value=""> --->Elegir Opción<--- </option>
                                    <option value="Doberman"> Doberman </option>
                                    <option value="Chiwawa"> Pitbull </option>
                                    <option value="Chiwawa"> Chiwawa </option>
                                    <option value="Siberiano"> Siberiano </option>
                                    <option value="Pastor Aleman"> Pastor Aleman </option>
                                    <option value="Terrier"> Terrier </option>
                                    <option value="Otros"> Otros </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fa fa-envelope text-info"></i></div>
                                </div>
                                <input type="text" class="form-control" id="nombre" name="Tamano" placeholder="Tamaño" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fa fa-comment text-info"></i></div>
                                </div>
                                <textarea class="form-control" name="Datos" placeholder="Datos Particulares" required></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fa fa-envelope text-info"></i></div>
                                </div>
                                <input type="text" class="form-control" id="nombre" name="NameDueño" placeholder="Nombre del Dueño" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fa fa-envelope text-info"></i></div>
                                </div>
                                <input type="text" class="form-control" id="nombre" name="DireccionDueño" placeholder="Dirección del Dueño" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fa fa-envelope text-info"></i></div>
                                </div>
                                <input type="number" class="form-control" id="nombre" name="Telefono" placeholder="Telefono" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fa fa-envelope text-info"></i></div>
                                </div>
                                <input type="email" class="form-control" id="nombre" name="Email" placeholder="Email" required>
                            </div>
                        </div>

                        <div class="text-center">
                            <input type="submit" value="Enviar" class="btn btn-info btn-block rounded-0 py-2">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {

        var now = new Date();

        var day = ("0" + now.getDate()).slice(-2);
        var month = ("0" + (now.getMonth() + 1)).slice(-2);

        var today = now.getFullYear() + "-" + (month) + "-" + (day);
        $("#fecha").val(today);
    });
</script>