﻿@{
    Layout = null;
}

<link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="~/css/vista.css" />
<a href="/Auth/Logout" class="btn btn-danger btn-xs pull-right"><b>+</b> Cerrar Sessión </a>
<h1 class="h1" style="text-align:center;"> Mascotas Registradas </h1> <br /><br /><br /><br />

<div class="container">
    <div class="row col-md-6 col-md-offset-2 custyle">
        <table class="table table-striped custab">
            <thead>
                <a href="/Auth/" class="btn btn-primary btn-xs pull-right"><b>+</b> Agregar Nuevo Registro </a>
                <tr>
                    <th>Codigo</th>
                    <th>Mascota</th>
                    <th>Nacimiento</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            @foreach (var item in ViewBag.Datos)
            {
                <tr>
                    <td>@item.Code</td>
                    <td>@item.NameMascota</td>
                    <td>@item.NaceMascota</td>
                </tr>
            }
        </table>
    </div>
</div>